body {
    background-color: #fff2e6;
    color: #2c3e50;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
h1 {
    color: #ff9f43;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    font-weight: bold;
    color: #57606f;
    margin-bottom: 35px;
    line-height: 28px;
}
button {
    background-color: #ff9f43;
    color: #ffffff;   
    border-radius: 5px;
    padding: 12px 10px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #1a1a1a;
    transform: translateY(-2px);
}
input {
    width: 300px;
    padding: 12px 20px;
    border-radius: 25px;
    display: block;
    margin: 10px auto;
    transition: all 0.3s ease;
}
.app {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
}
.form-box {
    background-color: #fff2e6;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid #ff9f43;
}
